

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: url('https://cdn.pixabay.com/photo/2017/10/26/19/45/red-2892235_1280.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.my-modal{
    color: rgb(112, 0, 19) ;
    font-size: 1.2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#save-btn {
    background-color: rgb(112, 0, 19) !important;
}

#modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 65vh;   
}



#calendar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    padding: 25px;
}

.door {
    width: 14vw;
    height: 21vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    border: 3px outset #ad873f;
    color: #caad77;
    text-shadow: 2px 2px #a06800;
    background-color: rgba(95, 7, 7, 0.737);
    font-family: serif;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        background-attachment: fixed; 
        overflow-y: scroll;
    }
    #calendar {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 10px;
    }
    .door{
        width: 25vw;
        height: 21vw;
        font-size: 3em;
    }
}

