

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: url('https://cdn.pixabay.com/photo/2017/10/26/19/45/red-2892235_1280.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.my-modal{
    color: rgb(112, 0, 19) ;
    font-size: 1.2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#save-btn {
    background-color: rgb(112, 0, 19) !important;
}

#modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 65vh;   
}



#calendar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3vw;
    padding: 25px;
}

.door {
    height: 9vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    border: 3px outset #ad873f;
    color: #caad77;
    text-shadow: 1px 1px #694b14;
    background-color: rgba(67, 0, 0, 0.421);
    font-family: serif;
    font-weight: 500;
}



@media (max-width: 600px) {
    body {
        background-size: cover;
        background-color: #591C21;   
        overflow-y: scroll; 
    }
    #calendar {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 20px;
        margin: 30px;
    }
    .door{
        width: 20vw;
        height: 20vw;
        font-size: 2.5em;
    }
}

